body {
    background-color: #cfcfcf;
}
h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
#contenedor {
    display:none;
    background-color: white;
    box-shadow:5px 5px 5px rgb(116, 116, 116);
    width: 60%;
    min-width: 800px;
    height: 70%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.vinculo{
    margin:30px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
.logo{
    max-width: 160px;
}
.logoGrande{
    min-width: 160px;
    max-width: 190px;
}
table tr td{
    min-width: 160px;
}